<html>
<head>
  <title>Home</title>
</head>
<body>
  <!-- <section class="top-section">
    <div class="nearby-stores">
      <h2>附近店家</h2>
      <ul>
        <li>
            <div class="store-item">
                <a href="#">店家 1</a>
            </div>
            <div class="logo">
                <img src="logo.png" alt="店家Logo">
            </div>
        </li>
        
        <li>
            <div class="store-item">
                <a href="#">店家 2</a>
            </div>
            <div class="logo">
                <img src="logo.png" alt="店家Logo">
            </div>
        </li>
        <li>
            <div class="store-item">
                <a href="#">店家 3</a>
            </div>
            <div class="logo">
                <img src="logo.png" alt="店家Logo">
            </div>
        </li>
      </ul>
    </div>
  </section> -->
  <div class="left-menu">
    <ul>
      <li *ngFor="let menuItem of menuItems[index]">
        <a href="#">{{ menuItem.name }}</a>
        <ul *ngIf="menuItem.subcategories">
          <li *ngFor="let subcategory of menuItem.subcategories">
            <a href="#">{{ subcategory.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="white-box"></div>
  <div class="right-menu">
  <section id="products" class="products" (scroll)="onScroll()" >
    <div class="product" *ngFor="let product of displayedProducts" [routerLink]="['/shop/product', product.store_id, product.id]" >
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <!-- <a [routerLink]="['/product', product.id]">查看詳情</a> -->
        <img src={{product.image}} alt='{{ product.name }}圖片'>
        <p class="price">${{product.price[0].value}}</p>
      </div>
  </section>
  </div>
</body>
</html>