form {
    max-width: 400px;
    margin: 80px auto;
    padding: 16px 16px 24px;
    box-shadow: 0 2px 32px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  
  form h1 {
    margin-top: 0;
    color: #555;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
  }
  
  .form-control {
    margin-bottom: 16px;
    height: auto;
  }
  
  .form-control input,
  .form-control label {
    display: block;
  }
  
  .form-control label {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 4px;
  }
  
  .form-control input {
    display: block;
    box-sizing: border-box; /* 將寬度和高度包含在 border 和 padding 內 */
    padding: 8px;
    height: 35px;
    border-radius: 4px;
    width: 90%;
    border: 2px solid #ccc;
    background-color: white;
    outline-offset: 2px;
    outline: 2px solid #07c;
  }
  
  button {
    background-color: #000;
    color: #fff;
    padding: 8px 24px;
    border-radius: 4px;
    width: 100%;
    font-size: 1.2rem;
    outline-offset: 2px;
    outline: 2px solid #07c;
  }
  .custom-google-signin-button {
    display: inline-flex;
    background-color: #4285F4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    height: 33px;
    transition: background-color 0.3s ease;
  }
  
  .custom-google-signin-button:hover {
    background-color: #357AE8;
  }
  .custom-google-signin-button .btn-text{
    padding: 5px 5px;
    margin-bottom: 5px;
  }