<form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="new-password">
    <h1>Login</h1>
  
    <div class="form-control">
      <label for="user">User</label>
       <select id="user" formControlName="selectedUser" name="user" >
      <option *ngFor="let option of userOptions" [value]="option">{{ option }}</option>
      </select>
    </div>

    <div class="form-control">
      <label for="email">PhoneNumber</label>
      <input
        formControlName="username"
        id="email"
        autocomplete="new-password"
        type="email"
      />
    </div>

    <div class="form-control">
      <label for="password">Password</label>
      <input
        formControlName="password"
        id="password"
        autocomplete="new-password"
        type="password"
      />
    </div>
  
    <button type="submit">Login</button>
    
    <div class="custom-google-signin-button">
      <asl-google-signin-button></asl-google-signin-button>
      <p class="btn-text"><b>Sign in with google</b></p>
    </div>
</form>
